<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web.extensions>
    <scripting>
      <webServices>
        <authenticationService
        enabled="true" requireSSL="false"/>
        <roleService enabled="true"/>
        <profileService enabled="true"
        readAccessProperties="FullName"
        writeAccessProperties="FullName"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Server=.\SQLEXPRESS;Database=ASPNETDB.MDF;User=sa;Password=1234;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <authentication mode="Forms" />
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider"
            connectionStringName="LocalSqlServer"
            applicationName="/"
            type="System.Web.Security.SqlMembershipProvider" />
      </providers>
    </membership>
    <!--<membership defaultProvider="p1">
      <providers>
        <add name="p1" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ASPNETDB.MDF;Integrated Security=True"
        type="System.Web.Security.SqlMembershipProvider"/>
      </providers>
    </membership>-->
    <roleManager enabled="true" >
      <providers>
        <add name="p2" connectionString="LocalSqlServer"
        type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <profile enabled="true" defaultProvider="p3">
      <providers>
        <add name="p3" connectionString="LocalSqlServer"
        type="System.Web.Profile.SqlProfileProvider"/>
      </providers>
      <properties>
        <add name="FullName" type="string"
        readOnly="false" defaultValue="abcd"
        serializeAs="String" allowAnonymous="false"/>
      </properties>
    </profile>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="tsvetanovah@gmail.com">
        <network host="127.0.0.1" />
      </smtp>
    </mailSettings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>