#content {
    font-size: 1.5em;
    font-family: Vrinda, Tahoma, sans-serif;
}

#ContentPlaceHolder1_Menu1 a {
    color: red;
}

#ContentPlaceHolder1_Menu1 a::before {
    content: "> ";
}

#ContentPlaceHolder1_Menu1 a:hover {
    color: #333;
}

#ContentPlaceHolder1_Menu1 a:hover::after {
    content: " <";
}